aside{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100px;
  background-color: #f4f4f4;
  box-shadow: 0 1px 20px rgba(0 0 0 / 10%);
  ul{
    list-style: none;
    padding: 20px;

    li{
      margin-bottom: 15px;
      font-size: 1.2rem;
    }
  }
}