*{
    font-family: montserrat;
    transition: var(--transition);
}

html, body {
  overflow-x: hidden;
  --font-color: #0A0050;

  color: var(--font-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  display: block;
}

main{
  margin-left: 100px;
}

section{
  padding: 2rem 5rem;
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
}
p{
  font-size: 1.5rem;
  line-height: 1.6;
}