*{
    font-family: montserrat;
    transition: var(--transition);
    color: var(--font-color);
}

html, body {
  overflow-x: hidden;
  --font-color: #0A0050;

  color: var(--font-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  display: block;
}

a{
  text-decoration: none;
  color: inherit;
}

main{
  margin-left: 100px;
  @media (max-width:60rem) {
    margin-left: 0;
  }
}

section{
  padding: 2rem 5rem;
  @media (max-width:60rem) {
    padding: 2rem;
  }
}

h1{
  font-size: 3rem;
}
h2{
  font-size: 2.5rem;
}
h3{
  font-size: 2rem;
  @media (max-width:60rem) {
    margin-block: 1rem;
  }
}
p{
  font-size: 1.5rem;
  line-height: 1.6;
  @media (max-width:60rem) {
    font-size: 1rem;
    line-height: 1.2;
  }
}

button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}