header{
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("/images/png/hero.png") no-repeat 30% center/cover;

  nav{
    position: absolute;
    border-radius: 2rem;
    top: 3rem;
    right: 3rem;
    background-color: white;
    ul{
      list-style: none;
      gap: 2rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
      a{
        font-weight: var(--font-weight-semibold);
      }
    }
  }
}