section.news{
  background-color: #F6F6F6;
}

.carousel{
  display: flex;
  gap: 3rem;

  &__track{
    display: flex;
  }
  &__img img{
    max-width: 40vw;
    border-radius: 1rem;
    @media (max-width:60rem) {
      max-width: 85vw;
    }
  }
  &__item{
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    align-items: center;
    gap: 2rem;
    @media (max-width: 60rem){
        flex-direction: column;
      align-items: flex-start;
        position: relative;
    }

    &__text{
      max-width: 30vw;
      display: grid;
      justify-items: flex-start;
      gap: 1rem;
      flex: 1;
      @media (max-width:60rem) {
        max-width: 85vw;
      }
      .subject{
        background-color: black;
        color: white;
        border-radius: 2rem;
        padding: 0.5rem;
      }

      .cta {
        margin-top: 2rem;
        display: grid;
        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background-color: transparent;
          transition: var(--transition);
        }
        &:hover {
          &::after {
            background-color: var(--color-primary);
          }
        }
      }
    }
    &__arrow {
      height: 5rem;
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100vw;
      background-color: #fff;
      box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);

      @media (max-width: 60rem) {
        position: absolute;
        bottom: 0;
        left: 70vw;
      }
      @media (max-width: 60rem) {
        left: 60vw;
      }
    }
  }
}