section.titre{
  display: flex;
  background-color: #f6f6f6;
  justify-content: space-between;
  height: 15rem;

  .quick-access{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;

    .access-block{
      padding: 1.5rem;
      font-size: 1.2rem;
      text-align: center;

      &:hover {
        background-color: white;
        box-shadow: 0 1px 20px rgba(0 0 0 / 10%);
        border-radius: 1rem;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
          height: 5rem;
          width: auto;
          margin-bottom: 10px;
        }
      }
    }
  }
}