section.titre{
  display: flex;
  background-color: #f6f6f6;
  justify-content: space-between;
  height: 15rem;
  @media (max-width:1240px) {
    flex-direction: column;
    height: auto;
    align-items: center;
  }

  .quick-access{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    @media (max-width:1024px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.5rem;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }

    .access-block{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.5rem;
      font-size: 1.2rem;
      text-align: center;
      span{
        font-weight: var(--font-weight-bold);
      }
      @media (max-width:1024px) {
          padding: 0.5rem;
          width: 100%;
          img{
            height: 3rem;
          }
      }

      &:hover {
        background-color: white;
        box-shadow: 0 1px 20px rgba(0 0 0 / 10%);
        border-radius: 1rem;
      }
      a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{
          height: 5rem;
          width: auto;
          margin-bottom: 10px;
        }
      }
    }
  }
}