<section class="actu">
  <h2>L'ACTU DU MÉMORIAL</h2>
  <div class="actu__grid">

    <article class="actu__card">
      <div class="actu__image">
        <img src="/images/png/carousel1.png" alt="Visite guidée du site" />
      </div>

      <div class="actu__content">
        <div class="actu__dates">
          <time class="actu__date" datetime="01.02.03"><span><b>01.02</b>.03</span></time>
          <span class="actu__arrow">▶</span>
          <time class="actu__date">01.02.03</time>
        </div>
        <a href="#" class="actu__titre">LE titre</a>
        <p class="actu__text">
          Visite guidée du site par notre maitre des lieux Yanick Noah
        </p>
      </div>
    </article>
        <article class="actu__card">
      <div class="actu__image">
        <img src="/images/png/carousel1.png" alt="Visite guidée du site" />
      </div>

      <div class="actu__content">
        <div class="actu__dates">
          <time class="actu__date" datetime="01.02.03"><span><b>01.02</b>.03</span></time>
          <span class="actu__arrow">▶</span>
          <time class="actu__date">01.02.03</time>
        </div>
        <a href="#" class="actu__titre">LE titre</a>
        <p class="actu__text">
          Visite guidée du site par notre maitre des lieux Yanick Noah
        </p>
      </div>
    </article>
        <article class="actu__card">
      <div class="actu__image">
        <img src="/images/png/carousel1.png" alt="Visite guidée du site" />
      </div>

      <div class="actu__content">
        <div class="actu__dates">
          <time class="actu__date" datetime="01.02.03"><span><b>01.02</b>.03</span></time>
          <span class="actu__arrow">▶</span>
          <time class="actu__date">01.02.03</time>
        </div>
        <a href="#" class="actu__titre">LE titre</a>
        <p class="actu__text">
          Visite guidée du site par notre maitre des lieux Yanick Noah
        </p>
      </div>
    </article>
  </div>
  <div class="btn">Voir toutes les actus</div>
</section>