<aside>
    <div class="logo">
        <img class="aside__logo" src="/images/png/logo-short.png" alt="Mémorial Charles de Gaulle">
    </div>
    <div class="social-media">
        <a href="#" aria-label="Facebook" class="aside__social"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        <a href="#" aria-label="Twitter" class="aside__social"><i class="fa-brands fa-twitter" aria-hidden="true"></i></a>
        <a href="#" aria-label="Instagram" class="aside__social"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="accessibility">
        <button class="accessibility-button" aria-label="Accessibilité"><i class="fa-solid fa-universal-access" aria-hidden="true"></i></button>
        <button class="language-button" aria-label="Langue"><i class="fa-solid fa-language" aria-hidden="true"></i></button>
    </div>

</aside>