<section class="presentation">
    <h3>Présentation</h3>
    <p>Bienvenue sur le site du Mémorial Charles de Gaulle, centre d'interprétation historique. Venez découvrir la genèse de ce projet culturel d'envergure, visitez de manière virtuelle les expositions temporaire et permanente, découvrez les événements du Mémorial. Mais trouvez aussi de quoi organiser votre visite en tant qu'individuel, groupe, professionnel ou scolaire, au Mémorial et dans la région. A très bientôt à Colombey-les-deux-églises !</p>
</section>