@use "scss/variables";
@use "scss/global";
@use "scss/header";
@use "scss/titre";
@use "scss/aside";
@use "scss/presentation";
@use "scss/news";
@use "scss/paragraphe";
@use "scss/actu";
@use "scss/btn";