html, body {
    --font-color: #0A0050;

    color: var(--font-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    display: block;
}

main{
    margin-left: 100px;
}


h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
p{
    font-size: 1.5rem;
    line-height: 1.6;
}

aside{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100px;
    background-color: #f4f4f4;
    box-shadow: 0 1px 20px rgba(0 0 0 / 10%);    
    ul{
        list-style: none;
        padding: 20px;
        
        li{
            margin-bottom: 15px;
            font-size: 1.2rem;
        }
    }
}

header{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    background: url("/images/png/hero.png") no-repeat center center/cover;
    
    nav{
        position: absolute;
        border-radius: 2rem;
        top: 3rem;
        right: 3rem;
        background-color: white;
       ul{
            list-style: none;
            gap: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px 50px;
       }
    }
}



section{
    padding: 2rem 5rem;
}



.titre{
    display: flex;
    background-color: #f6f6f6;
    justify-content: space-between;
    height: 200px;
    .quick-access{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        .access-block{
            background-color: white;
            box-shadow: 0 1px 20px rgba(0 0 0 / 10%);
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            font-size: 1.2rem;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                img{
                    height: 100px;
                    width: auto;                    
                    margin-bottom: 10px;
                }
            }
        }   
    }
}
