<section class="titre">
    <h1>Le mémorial <br> Charles de Gaulle </h1>
    <div class="quick-access">
        <div class="access-block">
            <a href="#"> <img src="https://www.memorial-caen.fr/wp-content/uploads/2023/10/conference.svg" alt="Conférences">
                <span>Conférences</span>
            </a>
        </div>
        <div class="access-block">
            <a href="#">
                <img src="https://www.memorial-caen.fr/wp-content/uploads/2023/05/location.svg" alt="Accès">
                <span>Accès</span>
            </a>
        </div>
        <div class="access-block"> <a href="#">
            <img src="https://www.memorial-caen.fr/wp-content/uploads/2023/10/van-7.svg" alt="Circuits guidés">
            <span>Circuits guidés</span>
        </a>
        </div>
        <div class="access-block">
            <a href="#">
                <img src="https://www.memorial-caen.fr/wp-content/uploads/2023/05/tags.svg" alt="Tarifs">
                <span>Tarifs</span>
            </a>
        </div>
        <div class="access-block">
            <a href="#">
                <img src="https://www.memorial-caen.fr/wp-content/uploads/2023/05/fork.svg" alt="Restauration">
                <span>Restauration</span>
            </a>
        </div>
    </div>
</section>
